<%layout('layouts/boilerplate')%>
<!-- ejsMate -->

<div id="map" style="width: 100%; height: 500px"></div>

<h1>All Campgrounds</h1>

<% for(let campground of campgrounds) {%>
<div class="card mb-3">
    <div class="row">
        <div class="col-md-4">
            <%if(campground.images.length){%>
            <img
                crossorigin="anonymous"
                class="img-fluid"
                alt=""
                src="<%=campground.images[0].url%>"
            />
            <%}else{%>
            <img
                crossorigin="anonymous"
                class="img-fluid"
                alt=""
                src="https://upload.wikimedia.org/wikipedia/commons/1/14/No_Image_Available.jpg?20200913095930"
            />
            <%}%>
        </div>

        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%=campground.title%></h5>
                <p class="card-text"><%=campground.description%></p>
                <p class="card-text">
                    <small class="text-muted"><%=campground.location%></small>
                </p>
                <a
                    class="btn btn-primary"
                    href="/campgrounds/<%=campground._id%>"
                    >View <%=campground.title%>
                </a>
            </div>
        </div>
    </div>
</div>
<% } %>

<div class="d-flex justify-content-end">
    <% if (currentPage > 1) { %>
    <a class="btn btn-dark" href="/campgrounds?page=<%= currentPage - 1 %>"
        >Previous</a
    >
    <% } %>
    <div class="dropdown">
        <a
            class="btn btn-secondary dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
        >
            Page
        </a>

        <ul class="dropdown-menu" style="max-height: 100px; overflow-y: scroll">
            <li>
                <% for (let i = 1; i <= pageCount; i++) { %>
                <a class="dropdown-item" href="/campgrounds?page=<%= i %>"
                    ><%= i %></a
                >
                <% } %>
            </li>
        </ul>
    </div>
    <% if (currentPage < pageCount) { %>
    <a class="btn btn-dark" href="/campgrounds?page=<%= currentPage + 1 %>"
        >Next</a
    >
    <% } %>
</div>

<script>
    const mapToken = "<%-process.env.MAPBOX_TOKEN%>";
    const allCampgrounds = {features: <%-JSON.stringify(allCampgrounds)%>};
</script>
<script src="/scripts/clusterMap.js"></script>
